# Environmental variable for wrangler (see .env for scripts)
# Also see https://discord.com/developers/applications/
DISCORD_APPLICATION_ID=""
DISCORD_GUILD_ID=""
DISCORD_MODS_ROLE_ID=""
DISCORD_PUBLIC_KEY=""
DISCORD_MAIN_CHANNEL_ID=""
DISCORD_SUPPORT_CATEGORY_ID=""
DISCORD_LFG_CATEGORY_ID=""
DISCORD_LFG_ROLE_ID=""
DISCORD_TOKEN=""
HELLDADS_STATS_URL="https://www.helldads.org/data/stats.json"
